@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */

h1, h2 {
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/* hero image and cover text */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../image/hero.image.jpg) no-repeat bottom;
    background-size: cover;
}

#cover-text {
    font-size: 130%;
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding-left: 1200px;
    padding-top: 250px;
    

}