@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #252525;
    background-color: #f7fae9;
}

/* heading and logo */

h1, h2, h3 {
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

/* navigation links */


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu li a {
    text-transform: uppercase;
    color: #252525;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
   
}

/* hero image and cover text */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../image/hero.image.jpg) no-repeat bottom;
    background-size: cover;
    
    
    
}

#cover-text {
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 350px;
    right: 100px; 
}


/* heading sections */

.heading-section {
    text-align: center;
    width: 100%;
    height: 15%;
    display: block;

    font-size: 250%;
    color: #252525;
}

/* natural wonders*/

#natural-wonders {
    height: 600px;
    width: 100%;
}

.natural-wonder-text {
    font-size: 120%;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0 0 2px white;
}

.natural-wonders-divs {
    
    width: 33%;
    display:inline-flex;
    height: 85%;
    color: #252525;      
}

.cover-common{
    background-size: cover!important;
}

#amazon-rainforest-bg {    
    background: url(../image/amazon.rainforest.jpeg) no-repeat center;     
}

#great-beaches-bg {    
    background: url(../image/wonderfull.beaches.jpeg) no-repeat center;
}

#waterfalls-bg {    
    background: url(../image/waterfall.image.avif) no-repeat center;
}

.natural-wonders-title {
    font-size: 200%;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    word-spacing: 4px;
    color: #252525;
}

/*gastronomy */

#gastronomy {
    height: 600px;
    
}

.gastronomy-div {
    padding-left: 20px;
    padding-right: 20px;
}

.gastronomy-div p {
    font-size: 120%;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 2px;
    text-align: justify;
    word-spacing: 4px;
}

#gastronomy-image {
    background: url(../image/brazilian-gastronomy.jpeg) no-repeat center;
    height: 400px;
    background-size: cover;
    width: 100%;
}

/* destination */

#destination {
    height: 600px;
}

.destinations-divs {
    width: 33%;
    display: inline-flex;
    height: 85%;
    color: #252525;
}

.destinations-divs h2 {
    font-family: 'Secular One', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: #252525;
    width: 100%;
}

#rio {
    background: url(../image/rio.jpeg) no-repeat center;        
}

#porto-de-galinhas {
    background: url(../image/porto-galinhas.jpeg) no-repeat center;
}

#belo-horizonte {
    background: url(../image/belo-horizonte.jpeg) no-repeat center;
}

/* footer */

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* form */

#image-form {
    height: 500px;
    width: 100%;
    background: url(../image/hero.image.jpg) no-repeat bottom;
    background-size: cover;
   
}

#cover-text-form {
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 180px;
    right: 100px;
    width: 500px;
}

.form-section {
    height: 500px;
    background-image: url(../image/form-image.jpeg);
    background-position: center;
    background-size: cover;
}

.travel-form {
        margin:50px 10% 0 0;
        color:#fff;
        background-color:rgba(60, 60, 60, 0.6);
        max-width:550px;
        position: absolute;
        left: 5%;
        padding:30px;
}

.text-form:hover {
    border-color: aquamarine;
}

.text-form {
    background: transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius:2px;
}

.submit-button {
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #252525;
    color:#fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: #252525;
}

/* media queries */
@media screen and (max-width: 1200px) {
    #logo {
        font-size: 150%;
    }

    .heading-section {
        font-size: 150%;
    }

    .natural-wonders-title {
        font-size: 125%;
    }

    #natural-wonders {
        height: 800px;
    }

    #gastronomy {
        height: 650px;
    }

    #destination {
        height: 800px;
    }
}

@media screen and (max-width: 950px) {



    #natural-wonders {
        height: 1000px;
    }

    .natural-wonders-divs {
        width: 100%;
        height: 30%;
        display: block;
    }

    .heading-section {
        height: 10%;
        font-size: 150%;
    }

    #gastronomy {
        height: 650px;
    }

    .destinations-divs {
        width: 100%;
        height: 30%;
        display: block;
    }

    
}

@media screen and (max-width: 800px) {

    #logo {
        display: contents;
    }    
}

@media screen and (max-width: 600px) {

    #natural-wonders {
        height: 1200px;
    }
    
    #gastronomy {
        height: 700px;
    }
}

@media screen and (max-width: 550px) {

    .heading-section {
        font-size: 100%;
    }

    .natural-wonders-title {
        font-size: 100%;
    }

    .natural-wonder-text {
        font-size: 90%;
    }

    #cover-text {
        font-size: small;
    }

    #menu li {
        font-size: small;
    }

    #hero-image {
        height: 500px;
    }

    #natural-wonders {
        height: 900px;
    }

    .gastronomy-div p {
        font-size: 90%;
    }

    .destinations-divs h2 {
        font-size: larger;
    }

    #destination {
        height: 750px;
    }

    #gastronomy {
        height: 650px;
    }

    #cover-text-form {
        width: 300px;
    }

    footer {
        height: 100px;
    }

}

@media screen and (max-width: 440px) {

    #cover-text {
        font-size: x-small;
        top: 250px;
    }

    #menu li {
        font-size: 60%;
    }

    #hero-image {
        height: 400px;
    }

    #natural-wonders {
        height: 1100px;
    }

    #gastronomy {
        height: 700px;
    }

    .heading-section {
        font-size: 90%;
    }

    #cover-text-form {
        font-size: small;
        right: 0px;
    }

    .form-section {
        height: 600px;
    }
}